* {
  padding: 0px;
  margin: 0px;
}
.button_start {
  align-items: center;
  width: 200px;
  appearance: none;
  background-color: #facc43;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,
    rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #facc43 0 -3px 0 inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 20px;
}
.button_start:focus {
  box-shadow: #facc43 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #facc43 0 -3px 0 inset;
}

.button_start:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px,
    rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #facc43 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button_start:active {
  box-shadow: #facc43 0 3px 7px inset;
  transform: translateY(2px);
}

.classBody {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  position: relative;
  background: url(backGroundHome.svg), #ffffff;
  background-size: cover;
}

.classHome p {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 140px;
  color: #f94632;
  text-shadow: 2px 2px 5px gray;
}
.classHome form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.classHome input {
  display: block;
  width: 584px;
  border: gray;
  height: 38px;
}
.classHome select {
  display: block;
  width: 584px;
  border: gray;
  height: 48px;
}

.classHome input[type="text"] {
  padding: 5px;
}
@media only screen and (max-width: 767px) {
  .classHome p {
    font-size: 70px;
  }
  .classHome input {
    width: 310px;
  }
  .classHome select {
    width: 310px;
  }
}
